<div class="chat-header">
  <div class="this-room">
    <p>ThisRoom</p>
  </div>
  <div class="chat-exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>


<div class="chat-messages">
  <div class="chat-message">
    <div class="upper-message">
      <div class="message-user">
        NameA
      </div>
      <div class="message-date">
        2021/4/18(Sun) 12:30:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        投稿内容A
      </div>
    </div>
  </div>

  <div class="chat-message">
    <div class="upper-message">
      <div class="message-user">
        NameB
      </div>
      <div class="message-date">
        2021/4/18(Sun) 13:45:00
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        投稿内容B
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>